workflows/E-Doreczenia WebHooks.json
{
  "active": true,
  "connections": {
    "SET VERB to GET": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to POST": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to HEAD": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to PUT": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to PATCH": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to DELETE": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pushover1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MESSAGE": {
      "main": [
        [
          {
            "node": "Pushover1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET E-Doreczenie": {
      "main": [
        [
          {
            "node": "SET VERB to GET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to HEAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to PUT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to PATCH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET E-Doreczenie LLU": {
      "main": [
        [
          {
            "node": "SET VERB to GET1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to POST1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to HEAD1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to PUT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to PATCH1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET VERB to DELETE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to GET1": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to POST1": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to HEAD1": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to PUT1": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to PATCH1": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VERB to DELETE1": {
      "main": [
        [
          {
            "node": "MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-10T08:32:41.475Z",
  "id": "gFBO8lPV9cbS0WkQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "E-Doreczenia WebHooks",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "a66f01e6-98cd-4cc6-8ac8-a378a26c3545",
              "name": "KTO",
              "value": "Ania",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7eb84ac5-b08f-489c-beb1-ce0947245f86",
      "name": "SET VERB to GET",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "8e118c7e-0010-4317-8de7-046a385e1589",
              "name": "KTO",
              "value": "Ania",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "97a0a458-b40d-4e24-bb61-3aec034fb288",
      "name": "SET VERB to POST",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "HEAD",
              "type": "string"
            },
            {
              "id": "dca37e83-8f67-4f03-85c7-f5369595e669",
              "name": "KTO",
              "value": "Ania",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6460e8c7-fed4-42b8-bccb-1e5008cb6f0e",
      "name": "SET VERB to HEAD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "PUT",
              "type": "string"
            },
            {
              "id": "7e05cae9-2ee9-4ffe-bbe6-1fec9945a136",
              "name": "KTO",
              "value": "Ania",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1c899dd5-b605-4941-9cda-09826bbeeb27",
      "name": "SET VERB to PUT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": " PATCH",
              "type": "string"
            },
            {
              "id": "60f39556-5842-40ef-8507-fcff0b8c79b7",
              "name": "KTO",
              "value": "Ania",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4afb7a37-9c80-49f1-9d07-68aba9925db2",
      "name": "SET VERB to PATCH",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "DELETE",
              "type": "string"
            },
            {
              "id": "d0e7f2af-db37-4e59-bfee-3533bc49a457",
              "name": "KTO",
              "value": "Ania",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "42278aba-922e-4bea-b830-4c6fabdd2861",
      "name": "SET VERB to DELETE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        800
      ]
    },
    {
      "parameters": {
        "userKey": "udbkdo9yvaps1khkce78ogwwro4veo",
        "message": "={{ $json.MESSAGE }}",
        "priority": 0,
        "additionalFields": {
          "sound": "cashregister",
          "title": "E-Doreczenia"
        }
      },
      "id": "11d41be3-a24f-49eb-9308-abdfbb4cfd28",
      "name": "Pushover1",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        760,
        400
      ],
      "retryOnFail": true,
      "notesInFlow": true,
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "{{ $json.VERB }}: {{ $('GET E-Doreczenie').item.json.body.toJsonString() }}"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "MESSAGE",
              "value": "={{ $json.KTO }} - {{ $json.VERB }}: {{ $json.body.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fa11c8ab-abd3-4929-8c0b-21cdfbbf7e70",
      "name": "MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "lukasz.luczko@gmail.com",
        "subject": "={{ $('MESSAGE').item.json.VERB }} E-DORECZENIA!!!!",
        "message": "=Nowa wiadomość na mObywatel!!! <BR> {{ $('MESSAGE').item.json.MESSAGE }}",
        "options": {}
      },
      "id": "76968294-b62d-45e1-87d6-6d7acc71f721",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "POST",
          "HEAD",
          "PUT",
          "PATCH",
          "DELETE"
        ],
        "path": "/edoreczeniamessagecallback",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "id": "4369c955-3fc7-404f-b61a-32fae701e64d",
      "name": "GET E-Doreczenie",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        400
      ],
      "webhookId": "0cc0f7b4-7d83-4e09-a4cb-b7d400289a5d",
      "notesInFlow": true
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "POST",
          "HEAD",
          "PUT",
          "PATCH",
          "DELETE"
        ],
        "path": "/edoreczeniamessagecallbackllu",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "id": "79ceff49-eba5-4d6a-a93a-51290f6d1853",
      "name": "GET E-Doreczenie LLU",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        420
      ],
      "webhookId": "0cc0f7b4-7d83-4e09-a4cb-b7d400289a5d",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "a66f01e6-98cd-4cc6-8ac8-a378a26c3545",
              "name": "KTO",
              "value": "Łukasz",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1af890ad-35fe-4ea4-9dea-35a90da4de4d",
      "name": "SET VERB to GET1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "8e118c7e-0010-4317-8de7-046a385e1589",
              "name": "KTO",
              "value": "Łukasz",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "98bf738b-512d-49b8-ad04-daf37638215a",
      "name": "SET VERB to POST1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "HEAD",
              "type": "string"
            },
            {
              "id": "dca37e83-8f67-4f03-85c7-f5369595e669",
              "name": "KTO",
              "value": "Łukasz",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "27545a9b-56a1-4e1a-a71f-b8638a0bf989",
      "name": "SET VERB to HEAD1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "PUT",
              "type": "string"
            },
            {
              "id": "7e05cae9-2ee9-4ffe-bbe6-1fec9945a136",
              "name": "KTO",
              "value": "Łukasz",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4d271519-e810-4c5a-9e13-469a1df59e02",
      "name": "SET VERB to PUT1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": " PATCH",
              "type": "string"
            },
            {
              "id": "60f39556-5842-40ef-8507-fcff0b8c79b7",
              "name": "KTO",
              "value": "Łukasz",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "204772e7-987d-49b0-b943-78ee5db5d9e2",
      "name": "SET VERB to PATCH1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e440eb-86b2-404f-8493-723d1051e103",
              "name": "VERB",
              "value": "DELETE",
              "type": "string"
            },
            {
              "id": "d0e7f2af-db37-4e59-bfee-3533bc49a457",
              "name": "KTO",
              "value": "Łukasz",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "68adb953-e986-4beb-a193-8778aba813bd",
      "name": "SET VERB to DELETE1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        840
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 12,
  "updatedAt": "2024-09-16T15:29:57.000Z",
  "versionId": "70c80c2f-7479-4d16-8a95-1bf7d87cba5d"
}