workflows/Nagrania do dropBox.json
{
  "active": true,
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nagranie": {
      "main": [
        [
          {
            "node": "Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pushover": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-21T14:35:18.287Z",
  "id": "bVxybhLzA2ZR9UC2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Nagrania do dropBox",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/nagraniaKamery/",
        "events": [
          "add"
        ],
        "options": {}
      },
      "id": "e9e44f2a-ee46-4a16-b98e-103a837666bf",
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        320
      ]
    },
    {
      "parameters": {
        "userKey": "udbkdo9yvaps1khkce78ogwwro4veo",
        "message": "=Ruch za oknem {{ $json.path }}",
        "priority": 0,
        "additionalFields": {
          "sound": "gamelan",
          "title": "Ruch za oknem"
        }
      },
      "id": "86bd29e6-1908-4a67-a37f-102edd2bfef9",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        140,
        300
      ],
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Nagrania/{{$node[\"Nagranie\"].json.fileName}}",
        "binaryData": true
      },
      "id": "c69b3cdf-53f3-470a-ada1-e8207cfb3381",
      "name": "Dropbox",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        920,
        120
      ],
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "3",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.plik }}",
        "options": {}
      },
      "id": "6094b6dd-d24c-4d10-a655-705146265f4e",
      "name": "Nagranie",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1f954ca-4174-42e8-86c6-0754164b9ac2",
              "leftValue": "={{ $json.path }}",
              "rightValue": ".thumb",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "629cca7f-3fae-4636-8a16-c1135d1051fb",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n let thumbFile = $('Local File Trigger').item.json.path\nlet fullfilePath = thumbFile.slice(0, -6);\nlet filePath = fullfilePath.replace(/^.*[\\\\\\/]/, '');\n$input.item.json.fullfilePath = fullfilePath;\n$input.item.json.filePath = filePath;\nreturn $input.item;"
      },
      "id": "31839df1-457d-432a-928c-8a3b8668fee8",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "command": "=cp {{ $json.fullfilePath }} /dropbox/{{ $json.filePath }}"
      },
      "id": "6b28df5e-cf92-4b5f-be7a-5df40a9780b5",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-23T13:02:51.000Z",
  "versionId": "116a6293-cc45-4ab9-b2b0-cad4a93cfd91"
}