workflows/Pogoda.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF valid user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WeatherOneCall": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregate": {
      "main": [
        [
          {
            "node": "WeatherOneCall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Agregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF valid user": {
      "main": [
        [
          {
            "node": "Agregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bad Request respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pushover": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bad Request respond": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-30T08:07:32.768Z",
  "id": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Pogoda",
  "nodes": [
    {
      "parameters": {
        "path": "ffcf63e1-d18b-4dfe-8093-6e121ea8f511",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "51eb1d65-7b98-4768-9c4d-51276c2207df",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -260,
        500
      ],
      "webhookId": "ffcf63e1-d18b-4dfe-8093-6e121ea8f511"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.messageHtml }}",
        "options": {}
      },
      "id": "214055bb-5c19-46d8-b8a4-0f32a229c347",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nclass nowyElement \n{\n    constructor(data, main, temp, feels_like, pressure, wind, pop, rain, description)\n    {    \n        this.data = data;\n        this.main = `${(main + '      ').substring(0,5)}`;\n        this.description = description;\n        this.temp = temp;\n        this.feels_like = feels_like.toFixed(0);\n        this.pressure = pressure;\n        this.wind = wind.toFixed(0);\n        this.pop = `${(pop * 100).toFixed(0)}%`;\n        this.rain = `${ rain === undefined ? 0 : (rain[\"1h\"] * 100).toFixed(0) }`;\n        this.message = this.getMessage();\n    }\n    getMessage()\n    {\n        let rain = `${ this.rain > 0 ? `RAIN ${this.rain} !!!  ` : `` }`;\n        let prefix = `${ this.rain > 0 ? ` => ` : `` }`;\n        return `${ prefix }${ this.data } ${ this.main } T:${ this.temp } od:${ this.feels_like } ${this.pressure} ${this.wind}km/h POP:${this.pop} ${rain}<BR>`;        \n    }\n}\nconst newItems = [];\nconst timezoneOffset = items[0].json.timezone_offset;\nlet output = '';\nlet howMany = 0;\nfor (itema of items[0].json.hourly) \n{\n    howMany = howMany + 1;\n    if(howMany > 15) { break;}\n    var date = new Date((itema.dt + timezoneOffset) * 1000);\n    var hours = date.getHours();\n    var minutes = \"0\" + date.getMinutes();\n    \n    // Will display time in 10:30:23 format\n    var formattedTime = hours + ':' + minutes.substr(-2);   // + ':' + seconds.substr(-2);\n    itema.Date = formattedTime;\n    \n    // constructor(data, main, feels_like, pressure, wind, pop, rain, description)\n    let newItem = new nowyElement(itema.Date, itema.weather[0].main, itema.temp, itema.feels_like, itema.pressure, itema.wind_speed, itema.pop, itema.rain, itema.weather[0].description)                 \n        \n    output = output + newItem.getMessage();\n}\n\n// Add Sunrise and Sunset details\nvar dlugoscDnia = items[0].json.current.sunset - items[0].json.current.sunrise - timezoneOffset;\n\nvar SunRise = getNiceTime(items[0].json.current.sunrise);\nvar SunSet = getNiceTime(items[0].json.current.sunset);\nvar DlDnia = getNiceTime(dlugoscDnia);\noutput = output + \"Sunrise: \" + SunRise + \" Sunset: \" + SunSet + \" - \" + DlDnia;\nvar ladnaData = getNiceDateTime(items[0].json.current.dt)\nnewItems.push(\n    {\n        json: {\n            messages: output.replace(/<BR>/g, '\\n'),\n            messageHtml: output,\n            SunRise: SunRise,\n            SunSet: SunSet,\n            DlDnia: DlDnia,\n            Date: ladnaData\n        }\n    }\n);\nreturn newItems;\n\n\nfunction getNiceTime(badtime){\n  var date = new Date((badtime + timezoneOffset) * 1000);\n  var hours = \"0\" + date.getHours();\n  var minutes = \"0\" + date.getMinutes();\n  var seconds = \"0\" + date.getSeconds();\n  // Will display time in 10:30:23 format\n  var formattedTime = hours.substr(-2) + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n  return formattedTime;\n}\n\nfunction getNiceDateTime(badtime){\n  var date = new Date((badtime) * 1000);\n    return date.toISOString();\n}\n"
      },
      "id": "08be2ba7-ecec-401f-9218-40c929235e00",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=52.1531&lon=21.1104&appid=ae75f9863b9eac983c31433a0edfe79d&units=metric",
        "options": {}
      },
      "id": "dae70030-a383-42c9-99d6-b4bafcc4164a",
      "name": "WeatherOneCall",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "userKey": "udbkdo9yvaps1khkce78ogwwro4veo",
        "message": "={{ $json.messages }}",
        "priority": 0,
        "additionalFields": {
          "html": false,
          "sound": "magic",
          "url": "https://n8n.it4home.pl/webhook/ffcf63e1-d18b-4dfe-8093-6e121ea8f511?user=luczluk"
        }
      },
      "id": "45e57735-d1ad-435b-8894-b2d90aca8960",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        960,
        380
      ],
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Agregate').item.json.headers.host }}",
              "value2": "n8n.it4home.pl"
            }
          ]
        }
      },
      "id": "23c47d10-2041-4f84-b190-bc7213257de8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "6010ad13-ce43-4a0f-9f8e-5e68bf73113f",
      "name": "Agregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        120,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "0 9 * * 6,0"
            }
          ]
        }
      },
      "id": "0e06f8cb-cbab-4f25-a5e4-37f91b6fe8b4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -260,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 404
        }
      },
      "id": "dc34b80f-bda3-4394-9a92-da816970b495",
      "name": "Bad Request respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        180,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query.user }}",
              "value2": "luczluk"
            }
          ]
        }
      },
      "id": "daf8a9b0-77eb-45db-99f4-51ecefbf5f89",
      "name": "IF valid user",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appZ36VRH8PFgp2u8",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appZ36VRH8PFgp2u8"
        },
        "table": {
          "__rl": true,
          "value": "tblOS4JFchxsa5WVO",
          "mode": "list",
          "cachedResultName": "SunSet",
          "cachedResultUrl": "https://airtable.com/appZ36VRH8PFgp2u8/tblOS4JFchxsa5WVO"
        },
        "filterByFormula": "=LEFT({Date}, 10) = '{{ $json.Date.slice(0,10) }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "cad8af5c-b798-45a1-94df-98a725ca716d",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "eXM9xuoteFee24Jw",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a2125e20-b719-4ca8-9856-8eb5c234cc8b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "547064a7-3b4e-4219-8301-e1f8f2f4cd3d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        580
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appZ36VRH8PFgp2u8",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appZ36VRH8PFgp2u8"
        },
        "table": {
          "__rl": true,
          "value": "tblOS4JFchxsa5WVO",
          "mode": "list",
          "cachedResultName": "SunSet",
          "cachedResultUrl": "https://airtable.com/appZ36VRH8PFgp2u8/tblOS4JFchxsa5WVO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SunRise": "={{ $('Code1').item.json.SunRise }}",
            "DlDnia": "={{ $('Code1').item.json.DlDnia }}",
            "SunSet": "={{ $('Code1').item.json.SunSet }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SunRise",
              "displayName": "SunRise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SunSet",
              "displayName": "SunSet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DlDnia",
              "displayName": "DlDnia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "6ecd5e00-2ae4-4243-99de-c401f83b165e",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1080,
        640
      ],
      "credentials": {
        "airtableOAuth2Api": {
          "id": "eXM9xuoteFee24Jw",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a481eebf-a519-4216-87e4-4d91a73f2b28",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        380
      ]
    },
    {
      "parameters": {},
      "id": "0f72d874-6a95-4850-80e3-7384e57024ed",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        380,
        560
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-07-15T10:09:02.000Z",
  "versionId": "6922fa9a-fa41-447f-8f73-4b31f79c3dc7"
}