workflows/PushNotyficationOnNewEmails.json
{
  "active": true,
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "Gmail - Add Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Add Label": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron1": {
      "main": [
        [
          {
            "node": "LinkedInInvitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedInInvitation": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Pushover LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-30T09:19:41.235Z",
  "id": "3",
  "name": "PushNotyficationOnNewEmails",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "additionalFields": {
          "q": "label:faktura is:unread -label:{AutomatFaktura}"
        }
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        880,
        680
      ],
      "id": "c7c50cde-781f-49d6-90f2-91c25fccd3e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "userKey": "udbkdo9yvaps1khkce78ogwwro4veo",
        "message": "=Nowa faktura od: {{$node[\"Gmail\"].json[\"from\"][\"text\"]}} \nTemat: {{$node[\"Gmail\"].json[\"subject\"]}}\nTreść:",
        "priority": 1,
        "additionalFields": {
          "sound": "cashregister",
          "title": "Faktura"
        }
      },
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        1380,
        680
      ],
      "id": "3f93e06f-275d-4b3d-87c3-26a6f7455a3c",
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        620,
        680
      ],
      "id": "31f65ef4-aefb-4b29-93fc-1a1e5979580d"
    },
    {
      "parameters": {
        "resource": "messageLabel",
        "messageId": "={{$node[\"Gmail\"].json[\"id\"]}}",
        "labelIds": [
          "Label_1437748874565904236"
        ]
      },
      "name": "Gmail - Add Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1120,
        680
      ],
      "id": "74f562ad-037f-4de3-83ef-8870ddf180a4",
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        620,
        880
      ],
      "id": "8c4515d6-1b2c-4f0a-9bbb-7a1807e04a83"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "additionalFields": {
          "q": "label:LinkedInInvitation is:unread -label:{AutomatFaktura}"
        }
      },
      "name": "LinkedInInvitation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        880,
        880
      ],
      "id": "7ec4dba7-9455-404d-bc6f-8f916eabae7e",
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageLabel",
        "messageId": "={{$node[\"LinkedInInvitation\"].json[\"id\"]}}",
        "labelIds": [
          "Label_1437748874565904236"
        ]
      },
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1120,
        880
      ],
      "id": "fbfe7c95-6d0c-4849-8311-aec52d13ed9d",
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "userKey": "udbkdo9yvaps1khkce78ogwwro4veo",
        "message": "=Nowe zaproszenie od: {{$node[\"LinkedInInvitation\"].json[\"from\"][\"value\"][0][\"name\"]}}\nWiadomośc: {{$node[\"LinkedInInvitation\"].json[\"text\"].slice(0, 200)}}",
        "priority": 0,
        "additionalFields": {
          "sound": "bike",
          "title": "LinkedIn"
        }
      },
      "name": "Pushover LinkedIn",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        1380,
        880
      ],
      "id": "d3f2c871-a819-4ef4-b93e-fc75e3280db3",
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-06-30T09:48:11.000Z",
  "versionId": "8763ff2f-985a-4258-aa6d-6454f78c2b42"
}