workflows/Send SMS via GatwayAPI.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-10T10:07:54.799Z",
  "id": "n3a74LVnmQjpnsRU",
  "meta": null,
  "name": "Send SMS via GatwayAPI",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ac3c4458-5371-4e03-a32a-78e4c1e34830",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        400
      ],
      "webhookId": "abeb4b83-cfa1-4a23-b1ff-f2c6537e2f3d",
      "credentials": {
        "httpBasicAuth": {
          "id": "fusuykIPI8PjFSMx",
          "name": "Basic auth to webhook"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gatewayapi.com/rest/mtsms",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "XgMKsfUWQwWFIgVA9wgV5gO71E5Oy1wimfVJ1PkkMifA3D6Ma-KwAiOf5KKKsBRj"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sender\": \"{{ $json.body.sender }}\", \"message\": \"{{ $json.body.message }}\", \"recipients\": [{\"msisdn\": {{ $json.body.recipient }}}]}   ",
        "options": {}
      },
      "id": "d58002f7-295f-42c6-9b34-c8836ebe78aa",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "587a3a35-4461-4d61-aca3-c452eff4488d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-13T14:09:46.000Z",
  "versionId": "7deb4d49-bd4f-4ad6-8f93-f2c8cf95de8e"
}