workflows/Send SMS via GatwayAPI.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-10T10:07:54.799Z",
  "id": "n3a74LVnmQjpnsRU",
  "name": "Send SMS via GatwayAPI",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ac3c4458-5371-4e03-a32a-78e4c1e34830",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        400
      ],
      "webhookId": "abeb4b83-cfa1-4a23-b1ff-f2c6537e2f3d",
      "credentials": {
        "httpBasicAuth": {
          "id": "fusuykIPI8PjFSMx",
          "name": "Basic auth to webhook"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gatewayapi.com/rest/mtsms",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "XgMKsfUWQwWFIgVA9wgV5gO71E5Oy1wimfVJ1PkkMifA3D6Ma-KwAiOf5KKKsBRj"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sender\": \"{{ $json.Sender }}\", \"message\": \"{{ $json.Message }}\", \"recipients\": [{\"msisdn\": {{ $json.Reciptient }}}]}",
        "options": {}
      },
      "id": "d58002f7-295f-42c6-9b34-c8836ebe78aa",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "dccd8556-b441-48db-b1b2-963eb5a86cb5",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Sender",
              "value": "={{ $json.query.sender }}"
            },
            {
              "name": "Reciptient",
              "value": "={{ $json.query.recipient }}"
            },
            {
              "name": "Message",
              "value": "={{ $json.query.message }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "36a5572f-5b6e-4e9c-8e09-437fce29c931",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        660,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-11T10:00:16.000Z",
  "versionId": "a798a4a4-0f76-4afe-bb95-069c71cb520e"
}