workflows/Webhook for GatewayAPI.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-10T09:42:57.104Z",
  "id": "kTUALZL38oDDli64",
  "name": "Webhook for GatewayAPI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gatewayapi",
        "options": {}
      },
      "id": "66bc7b80-3ea7-439e-9212-b7169b6382eb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        360
      ],
      "webhookId": "2137ccb8-5b4e-43fa-a658-3abfbd11f27c"
    },
    {
      "parameters": {
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appZ36VRH8PFgp2u8",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblrolkvFpNXU1Kyl",
          "mode": "id"
        },
        "options": {}
      },
      "id": "510427f8-ae5e-445a-84c0-d6d0657973fe",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1180,
        380
      ],
      "credentials": {
        "airtableApi": {
          "id": "7",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "56b3fa84-6978-4591-85d7-de1be4975e86",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        780,
        380
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-10T10:24:16.000Z",
  "versionId": "809767b4-c917-4e84-bcc0-5d6bf41084ee"
}